@media screen and (max-width: 429px) {

  .welcome-section .container .section-items .section-introduction h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .last-remove {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {


  footer .container .footer-box .section-items .footer-contact .footer-contact-form {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;

    input {
      margin-bottom: 0;
    }
  }

  .services .container .section-items .services-cards {
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .cards-item {
      width: calc(50% - 20px);
    }
  }

  .lets-make .container .section-items .section-item .section-introduction p {
    max-width: 500px;
  }

  .team .container .section-items .team-card {

    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    justify-content: center;

    .section-item {
      width: calc(50% - 20px);
    }

  }

}

@media screen and (min-width: 992px) {
  .header {
    .container {

      .section-items {

        .mobile-header-btn {
          display: none;
        }
      }
    }
  }

  footer {
    .container {

      .footer-box {

        .section-items {
          position: relative;

          .footer-header {
            flex-direction: row;
            align-items: center;
            gap: 155px;

            .header-logo {
              margin-bottom: 0;
            }

            .footer-nav {
              ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 40px;

                .nav-item:not(:last-child) {
                  margin-bottom: 0;

                }

                .nav-item {

                  .nav-link {
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          .footer-icons {
            position: absolute;
            max-width: 130px;
            width: 100%;
            height: 31px;
            top: -0.5%;
            right: 0;
          }

          .footer-contact {
            flex-direction: row;
            justify-content: space-between;

            .footer-contact-info {
              align-items: start;

              .list-items {

                .list-item {

                  .section-paragraph {
                    text-align: start;
                  }
                }
              }
            }
          }

          .footer-bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 40px;

            p {
              margin: 0;
            }

            a {
              text-decoration: underline;
            }
          }

        }
      }
    }
  }

  .case-slider {
    display: none !important;
  }

  .company-logos .container .section-items {
    .section-item {
      width: auto;
    }
  }

  .testimonials {


    .container .section-items .testimonials-slider {
      padding-top: 84px;
      padding-bottom: 68px;
      overflow: hidden;

      .tns-outer {

        .tns-ovh {
          overflow: visible !important;
        }
      }

      .testimonials-slider-col .testimonials-slider-content {
        gap: 62px;

        .testimonials-slider-text {
          max-width: none;

          p {
            font-size: 18px;
            padding: 38px 50px;
          }
        }

        .testimonials-slider-person {
          margin-bottom: 124px;
        }
      }
    }
  }

  .contact .container .section-items .form-items {
    flex-direction: row;
    padding: 60px 100px 70px 80px;
    background: #F3F3F3;
    border-radius: 45px;


    .section-form {
      gap: 40px;
      width: 60%;


      .contact-btn {
        gap: 35px;
        justify-content: left;
      }

      .contact-form {
        gap: 25px;

        .form-box {
          padding: 0 0;

          .contact-item {

            .section-item {
              input {
                padding: 18px 30px;
              }

              textarea {
                height: 190px;
                padding: 18px 30px;
              }
            }
          }
        }

        .section-btn {
          padding: 0 0;
        }
      }
    }
  }

  .contact .container .section-items .section-btn button {
    max-width: none;
  }

  .our-working-process .container .section-items .accordion {
    gap: 30px;

    .accordion-item {
      padding: 41px 60px;
    }
  }

  .lets-make .container .section-items {
    padding: 60px;
  }

  .lets-make .container .section-items .section-item {
    gap: 26px;

    .section-btn {
      max-width: 288px;
    }

    .section-introduction {
      gap: 26px;
    }
  }

  .welcome-tel {
    display: none;
  }

  .case-studies .container .section-items .section-introduction {
    flex-direction: row;
    gap: 40px;
    justify-content: left;

    p {
      text-align: left;
      max-width: 550px;
    }
  }


  .our-working-process .container .section-items .section-introduction {
    flex-direction: row;
    justify-content: left;
    gap: 40px;

    p {
      text-align: left;
      max-width: 292px;
    }
  }

  .team .container .section-items .section-introduction {
    flex-direction: row;
    justify-content: left;
    gap: 40px;

    p {
      text-align: left;
      max-width: 473px;
    }
  }

  .testimonials .container .section-items .section-introduction {
    flex-direction: row;
    justify-content: left;
    gap: 40px;

    p {
      text-align: left;
      max-width: 473px;
    }
  }

  .contact .container .section-items .section-introduction {
    flex-direction: row;
    justify-content: left;
    gap: 40px;

    p {
      text-align: left;
      max-width: 323px;
    }
  }


  .tel-header {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {

  .header {
    .container {

      .section-items {

        .header-nav {
          display: none;
        }
      }
    }
  }

  .case-studies-items {
    display: none !important;
  }

  .contact-illustration {
    display: none;
  }


  .lets-make-picture {
    display: none;
  }

  .welcome-computer {
    display: none !important;
  }


}


@media screen and (max-width: 1199px) {



  .services .container .section-items .services-cards .cards-item .card-box .card-bottom .card-btn p {
    display: none;
  }


}

@media screen and (min-width: 1200px) {

  .hide {
    transform: translateY(-128px);

  }

  .header {
    height: 126px;

    .container {
      .section-items {

        .header-nav {
          .nav-items {
            .nav-item {
              .section-btn {
                .header-btn {
                  height: 68px;
                  padding-right: 35px;
                  padding-right: 35px;
                }
              }
            }
          }
        }
      }
    }
  }


  footer {
    padding: 0;
    background: none;

    .container {


      .footer-box {
        background: #191A23;
        border-radius: 45px 45px 0px 0px;
        padding: 55px 60px 50px;

        .section-items {
          gap: 50px;

          .footer-header {
            margin-bottom: 16px;
          }

          .footer-contact {

            .footer-contact-form {
              input {
                width: 285px;
              }

              .section-btn {
                width: 249px;
              }
            }
          }

        }
      }
    }
  }


  .welcome-section {
    padding-bottom: 70px;
    padding-top: 196px;

    .container {

      .section-items {

        .section-introduction {
          h1 {
            font-size: 60px;
            max-width: 550px;
          }

          p {
            font-size: 20px;
            max-width: 500px;
          }
        }
      }
    }
  }

  .services {
    padding-top: 140px;
    padding-bottom: 100px;
  }

  .case-studies {
    padding-top: 140px;

    .container {

      .section-items {
        gap: 85px;
      }
    }
  }

  .our-working-process {
    padding-bottom: 140px;

    .container .section-items {
      gap: 80px;
    }

  }

  .team {
    padding-bottom: 100px;

    .container {

      .section-btn {
        justify-content: right;

        button {
          max-width: 269px;
        }
      }

      .section-items {
        gap: 85px;

        .section-introduction {
          justify-content: left;
          gap: 40px;
          flex-direction: row;
          width: 100%;
        }

        .team-card {

          .section-item {
            width: calc(33.33% - 30px);
            padding: 40px 35px;

            .team-card {

              .team-name {
                p {
                  font-size: 18px;
                }
              }

              .team-text {
                font-size: 18px;
                line-height: normal;
              }
            }
          }
        }

      }
    }
  }

  .testimonials {
    padding-bottom: 140px;

    .container {
      .section-items {

        gap: 85px;
      }
    }
  }

  .contact {
    padding-bottom: 140px;

    .container {

      .section-items {
        gap: 85px;
      }
    }
  }


  .section-paragraph {
    font-size: 18px;
    line-height: normal;
  }

  .section-header {
    font-size: 40px;
  }

  .lets-make .container .section-items .section-box .section-item .section-introduction {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }

  .services .container .section-items .section-introduction {
    flex-direction: row;
    justify-content: left;
    gap: 40px;

    p {
      text-align: left;
      max-width: 580px;
    }
  }

  .services .container .section-items {
    gap: 85px;

    .services-cards {


      .cards-item {
        max-width: 600px;


        .card-box {


          .card-introduction {
            h4 {
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  .case-studies .container .section-items .case-studies-items {
    gap: 64px;

    .section-item {
      p {
        line-height: normal;
        font-size: 18px;
      }
    }
  }

  .contact .container .section-items .form-items .section-form .form-btn {
    div {
      label {
        font-size: 18px;
      }
    }
  }

  .contact .container .section-items .form-items .section-form form .section-item {

    label {
      font-size: 18px;
    }

    input {
      font-size: 18px;
    }

    textarea {
      font-size: 18px;
    }
  }

  .our-working-process .container .section-items .accordion .accordion-item {

    .accordion-collapse {

      .accordion-body {
        font-size: 18px;

        strong {
          font-size: 18px;
        }
      }
    }
  }

  .our-working-process .container .section-items .accordion .accordion-item .accordion-header .accordion-button span:first-child {
    font-size: 60px;
  }
  .our-working-process .container .section-items .accordion .accordion-item .accordion-header .accordion-button span:last-child {
    font-size: 30px;
  }


}

@media screen and (min-width: 1400px) {

}