.contact-btn {
  @include flexRow;
  align-items: center;
  gap: 35px;

  .contact-btn-box {

    @include flexRow;
    gap: 14px;
    align-items: center;

    label {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }


    input[type="radio"] {
      display: none;
    }

    .circle-active {
      width: 28px;
      height: 28px;
      border: 1px solid black;
      border-radius: 50%;
      display: inline-block;
      position: relative;
    }

    input[type="radio"]:checked + .circle-active:before {
      position: absolute;
      background-color: #B9FF66;
      border: 1px solid #1CA92E;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      left: calc(50% - 7px);
      top: calc(50% - 7px);
      border: none;
      content: '';
    }

  }
}

.contact-item {
  @include flexCol;
  gap: 25px;

  .section-item {
    @include flexCol;
    gap: 10px;
    align-items: flex-start;

    label {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    input {
      width: 100%;
      padding: 18px 20px;
      border-radius: 14px;
      border: 1px solid #000;
      background: #FFF;
      color: #898989;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    textarea {
      width: 100%;
      padding: 18px 20px;
      border-radius: 14px;
      border: 1px solid #000;
      background: #FFF;
      height: 132px;
      color: #898989;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.form-items {
  padding: 40px 0;
  border-radius: 45px;
  background: #F3F3F3;
  @include flexCol;
  gap: 36px;
  position: relative;


  img {
    position: absolute;
    right: 0;
    top: 34px;
  }


  .section-form {
    @include flexCol;
    gap: 36px;
    padding: 0 30px;


    .contact-form {
      @include flexCol;
      gap: 36px;



      .contact-btn {
        @include flexRow;
        align-items: center;
        gap: 35px;

        .contact-btn-box {

          @include flexRow;
          gap: 14px;
          align-items: center;

          label {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }


          input[type="radio"] {
            display: none;
          }

          .circle-active {
            width: 28px;
            height: 28px;
            border: 1px solid black;
            border-radius: 50%;
            display: inline-block;
            position: relative;
          }

          input[type="radio"]:checked + .circle-active:before {
            position: absolute;
            background-color: #B9FF66;
            border: 1px solid #1CA92E;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            left: calc(50% - 7px);
            top: calc(50% - 7px);
            border: none;
            content: '';
          }

        }
      }

      .contact-item {
        @include flexCol;
        gap: 25px;

        .section-item {
          @include flexCol;
          gap: 10px;
          align-items: flex-start;

          label {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          input {
            width: 100%;
            padding: 18px 20px;
            border-radius: 14px;
            border: 1px solid #000;
            background: #FFF;
            color: #898989;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }

          textarea {
            width: 100%;
            padding: 18px 20px;
            border-radius: 14px;
            border: 1px solid #000;
            background: #FFF;
            height: 132px;
            color: #898989;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }

    }
  }
}

