* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("Space_Grotesk/SpaceGrotesk-Light.ttf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("Space_Grotesk/SpaceGrotesk-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("Space_Grotesk/SpaceGrotesk-SemiBold.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("Space_Grotesk/SpaceGrotesk-Bold.ttf") format("opentype");
  font-weight: 300;
}
.container {
  max-width: 1280px;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

h1, h2, h3, h4, h5, h6, span, p {
  margin: 0;
}

.section-header {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 0 7px;
  border-radius: 7px;
  background: #B9FF66;
  justify-content: center;
  width: fit-content;
}

.section-paragraph {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

section {
  padding: 60px 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

header {
  padding: 60px 0;
  width: 100%;
  height: 186px;
  position: fixed;
  background: #FFFFFF;
  z-index: 100;
}
header .container .section-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .container .section-items .header-logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  align-items: center;
}
header .container .section-items .header-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
header .container .section-items .header-nav ul .nav-item .nav-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
header .container .section-items .header-nav ul .nav-item .section-btn button {
  border-radius: 14px;
  border: 1px solid var(--Dark, #191A23);
  display: flex;
  padding: 18px 35px;
  align-items: center;
  background: none;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.small-nav {
  background: #191A23;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: -100%;
  top: 0;
  -webkit-transition: right 400ms ease;
  transition: right 400ms ease;
  padding-top: 124px;
}
.small-nav .container .section-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.small-nav .container .section-items .header-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.small-nav .container .section-items .header-nav ul .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.small-nav .container .section-items .section-btn button {
  border-radius: 14px;
  border: 1px solid var(--Dark, #191A23);
  display: flex;
  padding: 14px 28px;
  align-items: center;
  background: none;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  background: white;
}

.small-header {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  height: 84px;
  background: white;
  z-index: 100;
}
.small-header .container .section-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.small-header .container .section-items a {
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  align-items: center;
}

.welcome-computer {
  padding-top: 94px;
}
.welcome-computer .container .section-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.welcome-computer .container .section-items .section-introduction {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.welcome-computer .container .section-items .section-introduction h1 {
  color: #000;
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 390px;
}
.welcome-computer .container .section-items .section-introduction p {
  font-size: 16px;
}
.welcome-computer .container .section-items .section-introduction .section-btn button {
  display: flex;
  padding: 20px 0;
  width: 100%;
  max-width: 390px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #191A23;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border: none;
  white-space: nowrap;
  max-width: 264px;
}
.welcome-computer .container .section-items .section-item {
  width: calc(50% - 40px);
}
.welcome-computer .container .section-items .section-item img {
  width: 100%;
}

.welcome-tel {
  padding-top: 94px;
}
.welcome-tel .container .section-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.welcome-tel .container .section-items .section-introduction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.welcome-tel .container .section-items .section-introduction h1 {
  color: #000;
  max-width: 390px;
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.welcome-tel .container .section-items .section-introduction .section-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-tel .container .section-items .section-introduction .section-picture img {
  width: 100%;
  max-width: 362px;
}
.welcome-tel .container .section-items .welcome-consultation {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.welcome-tel .container .section-items .welcome-consultation p {
  max-width: 390px;
}
.welcome-tel .container .section-items .welcome-consultation .section-btn button {
  display: flex;
  padding: 20px 0;
  width: 100%;
  max-width: 390px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #191A23;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border: none;
  white-space: nowrap;
}

.company-logos {
  padding: 0;
}
.company-logos .container .section-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.company-logos .container .section-items .section-item {
  width: 33.33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.services {
  padding-bottom: 70px;
}
.services .container .section-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.services .container .section-items .section-introduction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.services .container .section-items .section-introduction p {
  max-width: 390px;
}
.services .container .section-items .services-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.services .container .section-items .services-cards .gray {
  background: #F3F3F3;
}
.services .container .section-items .services-cards .gray .card-introduction h4 {
  background: #B9FF66;
}
.services .container .section-items .services-cards .green {
  background: #B9FF66;
}
.services .container .section-items .services-cards .green .card-introduction h4 {
  background: #fff;
}
.services .container .section-items .services-cards .black {
  background: #191A23;
}
.services .container .section-items .services-cards .black .card-introduction h4 {
  background: #fff;
}
.services .container .section-items .services-cards .black .card-bottom .card-btn p {
  color: #FFFFFF;
}
.services .container .section-items .services-cards .cards-item {
  padding: 50px;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0px 0px #191A23;
  max-height: 310px;
  max-width: 390px;
  width: 100%;
}
.services .container .section-items .services-cards .cards-item .card-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 100%;
}
.services .container .section-items .services-cards .cards-item .card-box h4 {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: fit-content;
  padding: 0 7px;
  border-radius: 7px;
}
.services .container .section-items .services-cards .cards-item .card-box .card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
}
.services .container .section-items .services-cards .cards-item .card-box .card-bottom .card-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}
.services .container .section-items .services-cards .cards-item .card-box .card-bottom .card-btn p {
  font-size: 20px;
}
.services .container .section-items .services-cards .cards-item .card-box .card-bottom .card-btn .card-picture img {
  max-width: 165px;
}

.lets-make {
  padding-top: 0;
}
.lets-make .container .section-items {
  padding: 50px;
  border-radius: 45px;
  background: #F3F3F3;
}
.lets-make .container .section-items .section-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.lets-make .container .section-items .section-box .lets-make-picture {
  position: absolute;
  right: 0;
}
.lets-make .container .section-items .section-box .lets-make-picture img {
  width: 100%;
}
.lets-make .container .section-items .section-box .section-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.lets-make .container .section-items .section-box .section-item .section-introduction {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lets-make .container .section-items .section-box .section-item .section-introduction h2 {
  font-size: 26px;
  background: none;
}
.lets-make .container .section-items .section-box .section-item .section-introduction p {
  color: black;
}
.lets-make .container .section-items .section-box .section-item .section-btn {
  width: 100%;
}
.lets-make .container .section-items .section-box .section-item .section-btn button {
  display: flex;
  padding: 20px 0;
  width: 100%;
  max-width: 390px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #191A23;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border: none;
  white-space: nowrap;
}

.case-studies {
  padding-top: 0;
}
.case-studies .container .section-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.case-studies .container .section-items .section-introduction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.case-studies .container .section-items .section-introduction p {
  text-align: center;
  max-width: 390px;
}
.case-studies .container .section-items .case-studies-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 70px 60px;
  background: #191A23;
  border-radius: 45px;
}
.case-studies .container .section-items .case-studies-items .section-item {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.case-studies .container .section-items .case-studies-items .section-item p {
  color: #FFFFFF;
}
.case-studies .container .section-items .case-studies-items .section-item .section-btn .green-btn {
  color: #B9FF66;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
  background: none;
}
.case-studies .container .section-items .case-studies-items .section-lines {
  height: 186px;
  width: 3px;
  background: #FFFFFF;
  opacity: 0.3;
}
.case-studies .container .section-items .case-slider .case-slider-col .case-slider-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  padding: 42px 50px;
  background: #191A23;
  border-radius: 45px;
}
.case-studies .container .section-items .case-slider .case-slider-col .case-slider-content p {
  color: #FFFFFF;
  max-width: 250px;
}
.case-studies .container .section-items .case-slider .case-slider-col .case-slider-content .custom-p {
  font-size: 15px;
}
.case-studies .container .section-items .case-slider .case-slider-col .case-slider-content .section-btn .green-btn {
  color: #B9FF66;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
  background: none;
}

.our-working-process {
  padding-top: 0;
}
.our-working-process .container .section-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.our-working-process .container .section-items .section-introduction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.our-working-process .container .section-items .section-introduction .tel-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-working-process .container .section-items .section-introduction p {
  text-align: center;
  max-width: 390px;
}
.our-working-process .container .section-items .accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
}
.our-working-process .container .section-items .accordion .accordion-item {
  padding: 30px;
  border-radius: 45px;
  border: 1px solid #191A23;
  background: #F3F3F3;
  box-shadow: 0px 5px 0px 0px #191A23;
}
.our-working-process .container .section-items .accordion .accordion-item .accordion-header {
  background: none;
}
.our-working-process .container .section-items .accordion .accordion-item .accordion-header .accordion-button:focus {
  border: none;
  box-shadow: none;
}
.our-working-process .container .section-items .accordion .accordion-item .accordion-header button:after {
  background-image: url("images/Icon1.svg");
}
.our-working-process .container .section-items .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url("images/icon2.svg");
}
.our-working-process .container .section-items .accordion .accordion-item .accordion-header .accordion-button {
  background: none;
  display: flex;
  flex-direction: row;
  gap: 33px;
  padding: 0;
}
.our-working-process .container .section-items .accordion .accordion-item .accordion-header .accordion-button span:first-child {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-working-process .container .section-items .accordion .accordion-item .accordion-header .accordion-button span:last-child {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.team {
  padding-top: 0;
}
.team .container {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.team .container .section-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.team .container .section-items .section-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.team .container .section-items .section-introduction p {
  text-align: center;
  max-width: 390px;
}
.team .container .section-items .team-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.team .container .section-items .team-card .section-item {
  padding: 40px;
  border-radius: 45px;
  border: 1px solid #191A23;
  background: #FFF;
  box-shadow: 0px 5px 0px 0px #191A23;
  max-width: 390px;
}
.team .container .section-items .team-card .section-item .team-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  position: relative;
}
.team .container .section-items .team-card .section-item .team-card .team-picture {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}
.team .container .section-items .team-card .section-item .team-card .team-picture .team-name h5 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.team .container .section-items .team-card .section-item .team-card .team-picture .team-name p {
  color: #000;
  line-height: normal;
}
.team .container .section-items .team-card .section-item .team-card .team-picture .team-name .custom-p {
  width: 110px;
}
.team .container .section-items .team-card .section-item .team-card .circle-black-btn {
  background: black;
  color: #B9FF66;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
}
.team .container .section-items .team-card .section-item .team-text {
  padding-top: 20px;
}
.team .container .section-items .team-card .section-item .no-wrap {
  white-space: nowrap;
}
.team .container .section-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team .container .section-btn button {
  display: flex;
  padding: 20px 0;
  width: 100%;
  max-width: 390px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #191A23;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border: none;
  white-space: nowrap;
}

.testimonials {
  padding-top: 0;
}
.testimonials .container .section-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.testimonials .container .section-items .section-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.testimonials .container .section-items .section-introduction p {
  text-align: center;
  max-width: 390px;
}
.testimonials .container .section-items .tns-outer {
  position: relative;
}
.testimonials .container .section-items .tns-outer .tns-nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  left: 0;
  bottom: -13.5px;
  height: 27.11px;
}
.testimonials .container .section-items .tns-outer .tns-nav button {
  border: none;
  background: none;
  z-index: 2;
  width: 14px;
  height: 14px;
}
.testimonials .container .section-items .tns-outer .tns-nav button:not(.tns-nav-active) {
  background-image: url("images/testimonials/tns-nav-not-active.png");
}
.testimonials .container .section-items .tns-outer .tns-nav button[class=tns-nav-active] {
  background-image: url("images/testimonials/tns-nav-active.png");
}
.testimonials .container .section-items .tns-outer .tns-controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: -13.5px;
  left: 0;
}
.testimonials .container .section-items .tns-outer .tns-controls button {
  background: none;
  border: none;
  z-index: 2;
}
.testimonials .container .section-items .tns-outer .tns-controls button:first-child {
  margin-left: 30px;
}
.testimonials .container .section-items .tns-outer .tns-controls button:last-child {
  margin-right: 30px;
}
.testimonials .container .section-items .testimonials-slider {
  border-radius: 45px;
  background: #191A23;
  padding: 30px 30px 60px 30px;
}
.testimonials .container .section-items .testimonials-slider .testimonials-slider-col .testimonials-slider-content {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.testimonials .container .section-items .testimonials-slider .testimonials-slider-col .testimonials-slider-content .testimonials-slider-text {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-width: 330px;
  border: 1px solid #B9FF66;
  border-radius: 45px;
}
.testimonials .container .section-items .testimonials-slider .testimonials-slider-col .testimonials-slider-content .testimonials-slider-text p {
  position: relative;
  color: #FFFFFF;
  padding: 30px;
}
.testimonials .container .section-items .testimonials-slider .testimonials-slider-col .testimonials-slider-content .testimonials-slider-text img {
  position: absolute;
  width: 64px;
  height: 36px;
  bottom: -33.4px;
  left: 33px;
}
.testimonials .container .section-items .testimonials-slider .testimonials-slider-col .testimonials-slider-content .testimonials-slider-person {
  max-width: 251px;
  display: flex;
  flex-direction: column;
  margin-left: 61px;
  margin-bottom: 60px;
}
.testimonials .container .section-items .testimonials-slider .testimonials-slider-col .testimonials-slider-content .testimonials-slider-person h4 {
  color: #B9FF66;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.testimonials .container .section-items .testimonials-slider .testimonials-slider-col .testimonials-slider-content .testimonials-slider-person p {
  color: #FFFFFF;
}

.contact {
  padding-top: 0;
  padding-bottom: 90px;
}
.contact .container .section-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact .container .section-items .section-introduction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.contact .container .section-items .section-introduction p {
  text-align: center;
  max-width: 390px;
}
.contact .container .section-items .section-btn button {
  display: flex;
  padding: 20px 0;
  width: 100%;
  max-width: 390px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #191A23;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border: none;
  white-space: nowrap;
}
.contact .container .section-items .form-items {
  position: relative;
}
.contact .container .section-items .form-items img {
  position: absolute;
  right: 0;
  top: 34px;
}
.contact .container .section-items .form-items .section-form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.contact .container .section-items .form-items .section-form .contact-form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box {
  padding: 40px 30px;
  border-radius: 45px;
  background: #F3F3F3;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-btn .contact-btn-box {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-btn .contact-btn-box label {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-btn .contact-btn-box input[type=radio] {
  display: none;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-btn .contact-btn-box .circle-active {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-btn .contact-btn-box input[type=radio]:checked + .circle-active:before {
  position: absolute;
  background-color: #B9FF66;
  border: 1px solid #1CA92E;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: calc(50% - 7px);
  top: calc(50% - 7px);
  border: none;
  content: "";
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-item .section-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-item .section-item label {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-item .section-item input {
  width: 100%;
  padding: 18px 20px;
  border-radius: 14px;
  border: 1px solid #000;
  background: #FFF;
  color: #898989;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.contact .container .section-items .form-items .section-form .contact-form .form-box .contact-item .section-item textarea {
  width: 100%;
  padding: 18px 20px;
  border-radius: 14px;
  border: 1px solid #000;
  background: #FFF;
  height: 132px;
  color: #898989;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.contact .container .section-items .form-items .section-form .contact-form .section-btn {
  padding: 0 30px;
}

footer {
  background: #191A23;
}
footer .container {
  padding-top: 50px;
  padding-bottom: 30px;
}
footer .container .section-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
footer .container .section-items .footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
footer .container .section-items .footer-top .footer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
footer .container .section-items .footer-top .footer-header .header-logo a {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}
footer .container .section-items .footer-top .footer-header .header-logo a svg:first-child {
  width: 23px;
  height: 23px;
}
footer .container .section-items .footer-top .footer-header .header-logo a svg:last-child {
  height: 19px;
}
footer .container .section-items .footer-top .footer-header .footer-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
footer .container .section-items .footer-top .footer-header .footer-nav ul li .nav-link {
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
footer .container .section-items .footer-top .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
footer .container .section-items .footer-top .footer-contact .footer-contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
footer .container .section-items .footer-top .footer-contact .footer-contact-info h5 {
  font-size: 18px;
}
footer .container .section-items .footer-top .footer-contact .footer-contact-info .list-items {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
footer .container .section-items .footer-top .footer-contact .footer-contact-info .list-items .list-item .section-paragraph {
  text-align: center;
  color: #FFFFFF;
}
footer .container .section-items .footer-top .footer-contact .footer-form {
  border-radius: 14px;
  background: #292A32;
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 22px;
}
footer .container .section-items .footer-top .footer-contact .footer-form input {
  border-radius: 14px;
  border: 1px solid #FFF;
  width: 100%;
  padding: 21px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  max-width: 330px;
  width: 100%;
}
footer .container .section-items .footer-top .footer-contact .footer-form button {
  background: #B9FF66;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 330px;
  width: 100%;
  font-size: 20px;
  height: 68px;
}

.overflow-h {
  overflow: hidden;
}

.green-accordion {
  background: #B9FF66 !important;
}

/*# sourceMappingURL=style.css.map */
