* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url("Space_Grotesk/SpaceGrotesk-Light.ttf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url("Space_Grotesk/SpaceGrotesk-Regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url("Space_Grotesk/SpaceGrotesk-SemiBold.ttf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url("Space_Grotesk/SpaceGrotesk-Bold.ttf") format("opentype");
  font-weight: 300;
}

.container {
  max-width: 1280px;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

h1, h2, h3, h4, h5, h6, span, p {
  margin: 0;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin sectionBlackBtn {
  display: flex;
  padding: 20px 0;
  width: 100%;
  max-width: 390px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #191A23;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border: none;
  white-space: nowrap;
}

.section-header {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 0 7px;
  border-radius: 7px;
  background: #B9FF66;
  justify-content: center;
  width: fit-content;
}

.section-paragraph {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


section {
  padding: 60px 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  position: relative;
  padding-top: 100px;
}


.header {

  width: 100%;
  padding: 30px 0;
  z-index: 10;
  transition: 0.3s;
  background: #FFFFFF;
  position: absolute;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .08);;
  top: 0;

  .container {

    .section-items {
      @include flexRow;
      justify-content: space-between;
      align-items: center;

      .header-nav {
        .nav-items {
          list-style-type: none;
          padding: 0;
          margin: 0;
          @include flexRow;
          align-items: center;
          gap: 40px;

          .nav-item {
            a {
              color: #000;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              text-decoration: none;
            }

            .section-btn {
              .header-btn {
                background: none;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 14px;
                height: 40px;
                padding-left: 20px;
                padding-right: 20px;
              }
            }
          }
        }
      }

      .section-btn {
        #mobile-header-btn {
          background: none;
          border: none;
        }
      }
    }
  }
}


header.show {
  transform: translateY(0);
  position: fixed;
}

header.hide {
  transform: translateY(-100%);
  box-shadow: 0 3px 20px rgba(0, 0, 0, .08);
}


.modal {

  .modal-dialog {

    .modal-content {

      .modal-body {

        .header-form {

          .form-item {
            @include flexCol;
            gap: 10px;
            margin-bottom: 25px;

            .modal-header-name-input {
              color: #000;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .modal-header-input {
              width: 100%;
              padding: 18px 20px;
              border-radius: 14px;
              border: 1px solid #000;
              background: #FFF;
              color: #898989;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
            }
          }



          .form-item:last-child {
            margin-bottom: 0;
            @include flexRow;
            justify-content: right;

            .send-modal-header-form {
              display: flex;
              padding: 20px 0;
              width: 100%;
              justify-content: center;
              align-items: center;
              border-radius: 14px;
              background: #191A23;
              color: #FFF;
              text-align: center;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              border: none;
              white-space: nowrap;
            }
          }
        }
      }

      .modal-footer {
       justify-content: start;
      }
    }
  }
}


.small-nav {
  background: #191A23;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: -100%;
  top: 0;
  -webkit-transition: right 400ms ease;
  transition: right 400ms ease;
  padding-top: 124px;

  .container {

    .section-items {
      @include flexCol;
      gap: 40px;

      .header-nav {

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          @include flexCol;
          gap: 20px;

          .nav-item {

            .nav-link {

              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
            }
          }
        }
      }

      .section-btn {

        button {
          border-radius: 14px;
          border: 1px solid var(--Dark, #191A23);
          display: flex;
          padding: 14px 28px;
          align-items: center;
          background: none;
          color: #000;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          background: white;
        }
      }

    }
  }
}


.welcome-computer {
  padding-top: 60px;

  .container {

    .section-items {
      @include flexRow;
      justify-content: space-between;
      align-items: center;

      .section-introduction {
        @include flexCol;
        gap: 35px;

        h1 {
          color: #000;
          font-size: 43px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          max-width: 390px;
        }

        p {
          font-size: 16px;
        }

        .section-btn {
          button {
            @include sectionBlackBtn;
            max-width: 264px;
          }
        }
      }

      .section-item {
        width: calc(50% - 40px);

        img {
          width: 100%;
        }
      }
    }
  }
}

.welcome-tel {
  padding-top: 60px;

  .container {

    .section-items {
      @include flexCol;
      gap: 20px;
      align-items: center;

      .section-introduction {
        @include flexCol;
        gap: 10px;
        align-items: center;

        h1 {
          color: #000;
          max-width: 390px;

          font-size: 43px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .section-picture {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            max-width: 362px;
          }
        }
      }

      .welcome-consultation {
        @include flexCol;
        gap: 40px;

        p {
          max-width: 390px;
        }

        .section-btn {
          button {
            @include sectionBlackBtn;
          }
        }
      }
    }
  }

}

.company-logos {
  padding: 0;

  .container {

    .section-items {
      @include flexRow;
      flex-wrap: wrap;
      justify-content: space-between;

      .section-item {
        width: 33.33%;
        @include flexRow;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.services {
  padding-bottom: 70px;

  .container {

    .section-items {
      @include flexCol;
      gap: 40px;

      .section-introduction {
        @include flexCol;
        gap: 30px;
        align-items: center;
        text-align: center;

        p {
          max-width: 390px;
        }
      }

      .services-cards {
        @include flexCol;
        gap: 30px;
        align-items: center;


        .gray {
          background: #F3F3F3;

          .card-introduction {
            h4 {
              background: #B9FF66;
            }
          }
        }

        .green {
          background: #B9FF66;

          .card-introduction {
            h4 {
              background: #fff;
            }
          }
        }

        .black {
          background: #191A23;

          .card-introduction {
            h4 {
              background: #fff;
            }

          }

          .card-bottom {

            .card-btn {
              p {
                color: #FFFFFF;
              }
            }
          }
        }

        .cards-item {
          padding: 50px;
          border-radius: 45px;
          border: 1px solid #191A23;
          box-shadow: 0px 5px 0px 0px #191A23;
          max-height: 310px;
          max-width: 390px;
          width: 100%;


          .card-box {
            position: relative;
            @include flexCol;
            gap: 27px;
            width: 100%;

            h4 {
              color: #000;
              font-size: 26px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              width: fit-content;
              padding: 0 7px;
              border-radius: 7px;
            }

            .card-bottom {
              @include flexRow;
              justify-content: flex-end;
              align-items: end;
              width: 100%;

              .card-btn {
                position: absolute;
                left: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                gap: 15px;

                p {
                  font-size: 20px;
                }


                .card-picture {
                  img {
                    max-width: 165px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.lets-make {
  padding-top: 0;

  .container {

    .section-items {
      padding: 50px;
      border-radius: 45px;
      background: #F3F3F3;

      .section-box {
        position: relative;
        @include flexRow;
        justify-content: space-between;
        align-items: center;


        .lets-make-picture {
          position: absolute;
          right: 0;

          img {
            width: 100%;
          }
        }


        .section-item {
          @include flexCol;
          align-items: start;
          gap: 20px;


          .section-introduction {
            @include flexCol;
            gap: 20px;

            h2 {
              font-size: 26px;
              background: none;
            }

            p {
              color: black;
            }
          }

          .section-btn {
            width: 100%;

            button {
              @include sectionBlackBtn;
            }
          }
        }
      }
    }
  }
}

.case-studies {
  padding-top: 0;

  .container {

    .section-items {
      @include flexCol;
      gap: 40px;

      .section-introduction {
        @include flexCol;
        gap: 30px;
        align-items: center;

        p {
          text-align: center;
          max-width: 390px;
        }
      }

      .case-studies-items {
        @include flexRow;
        gap: 30px;
        padding: 70px 60px;
        background: #191A23;
        border-radius: 45px;

        .section-item {
          width: 33.333%;
          @include flexCol;
          gap: 20px;

          p {
            color: #FFFFFF;
          }

          .section-btn {
            .green-btn {
              color: #B9FF66;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              display: flex;
              align-items: center;
              gap: 15px;
              border: none;
              background: none;
            }
          }

        }

        .section-lines {
          height: 186px;
          width: 3px;
          background: #FFFFFF;
          opacity: 0.3;
        }

      }

      .case-slider {

        .case-slider-col {

          .case-slider-content {
            @include flexCol;
            gap: 20px;
            align-items: start;
            padding: 42px 50px;
            background: #191A23;
            border-radius: 45px;

            p {
              color: #FFFFFF;
              max-width: 250px;
            }

            .custom-p {
              font-size: 15px;
            }

            .section-btn {
              .green-btn {
                color: #B9FF66;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                display: flex;
                align-items: center;
                gap: 15px;
                border: none;
                background: none;
              }
            }
          }
        }
      }
    }
  }
}

.our-working-process {
  padding-top: 0;

  .container {
    .section-items {

      @include flexCol;
      gap: 30px;

      .section-introduction {
        @include flexCol;
        gap: 30px;
        align-items: center;

        .tel-header {
          @include flexCol;
          align-items: center;
        }

        p {
          text-align: center;
          max-width: 390px;
        }
      }

      .accordion {
        @include flexCol;
        gap: 20px;
        border: none;


        .accordion-item {
          padding: 30px;
          border-radius: 45px;
          border: 1px solid #191A23;
          background: #F3F3F3;
          box-shadow: 0px 5px 0px 0px #191A23;

          .accordion-header {
            background: none;

            .accordion-button:focus {
              border: none;
              box-shadow: none;
            }

            button:after {
              background-image: url("images/Icon1.svg");
            }

            .accordion-button:not(.collapsed)::after {
              background-image: url("images/icon2.svg");
            }

            .accordion-button {
              background: none;
              @include flexRow;
              gap: 33px;
              padding: 0;

              span:first-child {
                color: #000;
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }

              span:last-child {
                color: #000;

                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}

.team {
  padding-top: 0;


  .container {
    @include flexCol;
    gap: 37px;


    .section-items {
      @include flexCol;
      gap: 30px;
      align-items: center;

      .section-introduction {
        @include flexCol;
        align-items: center;
        gap: 30px;

        p {
          text-align: center;
          max-width: 390px;
        }
      }

      .team-card {
        @include flexCol;
        gap: 30px;

        .section-item {
          padding: 40px;
          border-radius: 45px;
          border: 1px solid #191A23;
          background: #FFF;
          box-shadow: 0px 5px 0px 0px #191A23;
          max-width: 390px;

          .team-card {
            @include flexRow;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 20px;
            border-bottom: 1px solid black;
            position: relative;

            .team-picture {
              @include flexRow;
              align-items: flex-end;
              gap: 20px;

              .team-name {
                h5 {
                  color: #000;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                }

                p {
                  color: #000;
                  line-height: normal;
                }

                .custom-p {
                  width: 110px;
                }
              }
            }

            .circle-black-btn {
              background: black;
              color: #B9FF66;
              width: 34px;
              height: 34px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 18px;
              border: none;
              border-radius: 50%;
              font-weight: 700;
              position: absolute;
              right: 0;
              top: 0

            }
          }

          .team-text {
            padding-top: 20px;
          }

          .no-wrap {
            white-space: nowrap;
          }
        }
      }
    }

    .section-btn {
      @include flexRow;
      justify-content: center;
      align-items: center;;

      button {
        @include sectionBlackBtn;
      }
    }
  }
}

.testimonials {
  padding-top: 0;

  .container {

    .section-items {
      @include flexCol;
      gap: 40px;

      .section-introduction {

        @include flexCol;
        align-items: center;
        gap: 30px;


        p {
          text-align: center;
          max-width: 390px;
        }
      }

      .tns-outer {
        position: relative;

        .tns-nav {
          position: absolute;
          width: 100%;
          @include flexRow;
          align-items: center;
          justify-content: center;
          gap: 12px;
          left: 0;
          bottom: -13.5px;
          height: 27.11px;

          button {
            border: none;
            background: none;
            z-index: 2;
            width: 14px;
            height: 14px;
          }

          button:not(.tns-nav-active) {
            background-image: url("images/testimonials/tns-nav-not-active.png");
          }

          button[class="tns-nav-active"] {
            background-image: url("images/testimonials/tns-nav-active.png");
          }
        }

        .tns-controls {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          bottom: -13.5px;
          left: 0;


          button {
            background: none;
            border: none;
            z-index: 2;
          }

          button:first-child {
            margin-left: 30px;
          }

          button:last-child {
            margin-right: 30px;
          }
        }
      }


      .testimonials-slider {
        border-radius: 45px;
        background: #191A23;
        padding: 30px 30px 60px 30px;

        .testimonials-slider-col {

          .testimonials-slider-content {
            @include flexCol;
            gap: 44px;

            .testimonials-slider-text {
              position: relative;
              //background-image: url("images/testimonials/Union.png");
              background-size: contain;
              background-repeat: no-repeat;
              width: 100%;
              height: 100%;
              max-width: 330px;
              //display: flex;
              //align-items: center;
              //justify-content: center;
              border: 1px solid #B9FF66;
              border-radius: 45px;


              p {
                position: relative;
                color: #FFFFFF;
                padding: 30px;
              }

              img {
                position: absolute;
                width: 64px;
                height: 36px;
                bottom: -33.4px;
                left: 33px;
              }
            }

            .testimonials-slider-person {
              max-width: 251px;
              @include flexCol;
              margin-left: 61px;
              margin-bottom: 60px;

              h4 {
                color: #B9FF66;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }

              p {
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }
  }
}

.contact {
  padding-top: 0;
  padding-bottom: 90px;

  .container {

    .section-items {
      @include flexCol;
      gap: 40px;

      .section-introduction {
        @include flexCol;
        gap: 30px;
        align-items: center;

        p {
          text-align: center;
          max-width: 390px;
        }
      }

      .section-btn {
        button {
          @include sectionBlackBtn;
        }
      }

      .form-items {
        position: relative;

        img {
          position: absolute;
          right: 0;
          top: 34px;
        }


        .section-form {
          @include flexCol;
          gap: 36px;


          .contact-form {

            @include flexCol;
            gap: 36px;


            .form-box {
              padding: 40px 30px;
              border-radius: 45px;
              background: #F3F3F3;
              @include flexCol;
              gap: 36px;

              .contact-btn {
                @include flexRow;
                align-items: center;
                gap: 35px;

                .contact-btn-box {

                  @include flexRow;
                  gap: 14px;
                  align-items: center;

                  label {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                  }


                  input[type="radio"] {
                    display: none;
                  }

                  .circle-active {
                    width: 28px;
                    height: 28px;
                    border: 1px solid black;
                    border-radius: 50%;
                    display: inline-block;
                    position: relative;
                  }

                  input[type="radio"]:checked + .circle-active:before {
                    position: absolute;
                    background-color: #B9FF66;
                    border: 1px solid #1CA92E;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    left: calc(50% - 7px);
                    top: calc(50% - 7px);
                    border: none;
                    content: '';
                  }

                }
              }

              .contact-item {
                @include flexCol;
                gap: 25px;

                .section-item {
                  @include flexCol;
                  gap: 10px;
                  align-items: flex-start;

                  label {
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                  }

                  input {
                    width: 100%;
                    padding: 18px 20px;
                    border-radius: 14px;
                    border: 1px solid #000;
                    background: #FFF;
                    color: #898989;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                  }

                  textarea {
                    width: 100%;
                    padding: 18px 20px;
                    border-radius: 14px;
                    border: 1px solid #000;
                    background: #FFF;
                    height: 132px;
                    color: #898989;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                  }
                }
              }

            }

            .section-btn {
              padding: 0 30px;
            }
          }
        }
      }
    }
  }
}


footer {
  background: #191A23;
  padding-top: 50px;
  padding-bottom: 30px;

  .container {

    .footer-box {
      .section-items {
        @include flexCol;
        gap: 37px;

        .footer-header {
          @include flexCol;
          align-items: center;

          .header-logo {
            @include flexRow;
            align-items: center;
            gap: 8px;
            margin-bottom: 37px;


            svg:first-child {
              height: 23px;
              width: 23px;
            }

            svg:last-child {
              height: 19px;
              width: 110px;
            }
          }

          .footer-nav {
            ul {
              list-style-type: none;
              padding: 0;
              margin: 0;

              .nav-item:not(:last-child) {
                margin-bottom: 15px;
              }

              .nav-item {
                text-align: center;

                .nav-link {
                  color: #FFFFFF;
                }
              }
            }
          }
        }

        .footer-contact {
          @include flexCol;
          gap: 37px;

          .footer-contact-info {
            @include flexCol;
            align-items: center;
            gap: 37px;


            h5 {
              font-size: 18px;
            }

            .list-items {
              list-style-type: none;
              padding: 0;
              margin: 0;

              .list-item {
                margin-bottom: 15px;

                .section-paragraph {
                  color: #FFFFFF;
                  text-align: center;
                }
              }
            }
          }


          .footer-contact-form {
            border-radius: 14px;
            background: #292A32;
            padding: 30px;
            @include flexCol;
            align-items: center;

            input {
              background: none;
              border-radius: 14px;
              border: 1px solid white;
              padding: 21px 25px;
              margin-bottom: 22px;
              max-width: 330px;
              width: 100%;
              color: #FFFFFF;
              font-size: 16px;
            }

            .section-btn {
              max-width: 330px;
              width: 100%;

              button {
                font-size: 20px;
                color: black;
                background: #B9FF66;
                border-radius: 14px;
                width: 100%;
                border: none;
                height: 68px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }

        .footer-icons {
          @include flexRow;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }

        .footer-lines {
          width: 100%;
          height: 1px;
          background: #FFFFFF;
        }

        .footer-bottom {
          text-align: center;


          p {
            margin-bottom: 15px;
            color: #FFFFFF;
          }

          a {
            color: #FFFFFF;
            text-decoration: none;
          }
        }
      }
    }
  }
}


.overflow-h {
  overflow: hidden;
}

.green-accordion {
  background: #B9FF66 !important;
}
















